.header_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.page_container {
    position: absolute;
    left: 0;
    bottom: 1.8rem;
    width: 100%;
    overflow: hidden;
}
.page_scroll {
    overflow-y: scroll;
}
.header {
        display : flex;
        justify-content: space-between;
        width: 100%;
        box-sizing : border-box;
        padding: 0.2rem 0.3rem 0 0.53rem;

        .title_img {
            width: 3.12rem;
            height: 1.26rem;
        }
    }
    .location {
        font-size: 0.4rem;
        display: flex;
        align-items: center;
        height: 0.56rem;
        margin-top: 0.26rem;
        color: #737373;
        

        .iconfont {
            font-size: 0.56rem;
            color: #35adc6;
            margin-left: 0.15rem;
            
        }

    }

    //tab样式
    .nav {
        width: 100%;
        display: flex;
        color: #737373;
        // padding-bottom: 0.07rem;
        position: relative;
        
        .tab {
            height: 1.1rem;
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0.4rem;
            line-height: 1.1rem;

            span {
                // height: 100%;
                
            }
            .activeBg {
                // background: #f0f0f0;
                // transition: all 0.2s;
                animation: tabsBg 0.2s;
            }
        }

        .tab_border {
            background: #ff663d;
            height: 0.07rem;
            position: absolute;
            bottom: 0rem;
            transition: all 0.1s;
        }
    }

    //tabs点击阴影效果
    @keyframes tabsBg {
        from {
            background: #fff;

        }
        to {
            background: #f8f8f8;
        }
    }