.commen_header {
    display: flex;
    color: #444;
    align-items: center;
    height: 1.5rem;
    border: 1px solid #bbb;
    

    img {
        height: 0.7rem;
        margin-right: 0.35rem;
    }

    
}
